<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__top">
      <div class="newsletter__wrapper">
      <div class="footer-column--nav">
        <li class="footer__list--navigation">
          <h3 class="footer__header"> <span class="yellow">Never</span> miss out on new deliveries</h3>
          {% form 'customer', id: 'footer-newsletter' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="sucscribeletter__email--container">
              <input
                class="suscribeletter__email--input"
                name="contact[email]"
                type="email"
                placeholder="Email address"
              >
              <button class="subscribeletter__button" type="submit">Subscribe</button>
            </div>
            {% if form.posted_successfully? %}
              <p class="footer-column-news-message">Thank you for subscribing!</p>
            {% endif %}
            {% if form.errors %}
              <p class="footer-column-news-message">{{ form.errors.messages.email }}</p>
            {% endif %}
          {% endform %}
        </li>
      </div>
      </div>
       <div class="nav_links"> 
      {% for block in section.blocks %}
        {% if block.type == 'navigation' %}
          <div class="footer_column footer-column--nav">
            <h2 class="footer__nav--title">{{ block.settings.linklist.title }}</h2>
            {% for link in block.settings.linklist.links %}
              <li class="footer__list--navigation">
                <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </div>
        {% elsif block.type == 'text' %}
          <div class="footer-column footer-column--text">
            <h2>{{ block.settings.heading }}</h2>
            {{ block.settings.text }}
          </div>
        {% endif %}
      {% endfor %}
       </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright__text">Copyright © 2023 Kuoir</p>
      <div class="footer__socials--container">
          {% comment %} <a  href="{{ section.settings.insta_link }}"
            target="_blank"
            class="social__link">
            <img src="https://cdn.shopify.com/s/files/1/0801/6599/4812/files/instagram_logo.svg?v=1693128956" class="social__icon">
          </a>
            <a  href="{{ section.settings.facebook_link }}"
            target="_blank"
            class="social__link">
            <img src="https://cdn.shopify.com/s/files/1/0801/6599/4812/files/facrbook.svg?v=1693129053" class="social__icon">
          </a>
           <a  href="{{ section.settings.tiktok_link }}"
            target="_blank"
            class="social__link">
            <img src="https://cdn.shopify.com/s/files/1/0801/6599/4812/files/tiktok.svg?v=1693129221" class="social__icon">
          </a> {% endcomment %}
      </div>
    </div>
  </div>
</footer>

{% stylesheet %}

  .footer__socials--container {
    display:flex;
    gap: 21px;
  }
  .social__icon {
    width: 18.17px;
    height: 18.17px;
  }
   .suscribeletter__email--input::placeholder {
  color: white; /* Change this to the desired color */
}
 
  .copyright__text {
    margin: 0px;
    margin-top: 37px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 13.845px;
font-style: normal;
font-weight: 400;
line-height: 18.491px; /* 133.558% */
  }

  .socials__text {
    margin: 0px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 13.845px;
font-style: normal;
font-weight: 400;
line-height: 18.491px; /* 133.558% */
  }

  .footer__socials--container {
    margin-top: 37px;
  }
  .sucscribeletter__email--container {
    width: 435px;
    height: 57.56px;
    border-radius: 10px;
    position: relative;
  }

    .subscribeletter__button {
    position: absolute;
    background-color: #D4AF37;
    right: 0;
    height: 100%;
    border-radius: 10px;
    border: 1.796px solid #D4AF37;
    border-left: none;
    padding: 7px 20px;
    color: #242424;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    border-radius: 0px 10px 10px 0px;
      font-family: Inter;
  }

  .suscribeletter__email--input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding-left: 21px;
    border-radius: 10px;
    font-size: 17.962px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.85px; /* 138.353% */
    border: 2.5px solid #D4AF37;
    color: white;

  }

  .footer__header {
    color: white;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 65.329px; /* 125.632% */
  letter-spacing: -1.04px;
    max-width: 435px;
  }

  .yellow {
    color: #D4AF37;
  }
  .footer__top {
    display: flex;
   justify-content: space-between;
    padding-bottom: 34px;
  }

  .footer-column-news-message {
  color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 14px;
  }

    .footer__nav--title {
      font-size: 13.84px;
      color: white;
      font-weight: 600;
    }

  .footer__list--navigation {
    list-style-type: none;
    display: flex;
    flex-direction: column;

  }

  .nav_links {
    display: flex;
    gap: 75px;
  }




  .yellow {
    color: #D4AF37;
  }

  .footer__header {
    margin: 0px;
    margin-bottom: 37px;
    font-size: 52px;
font-style: normal;
font-weight: 600;
line-height: 65.329px; /* 125.632% */
letter-spacing: -1.04px;
  }


  .footer__link {
    color: rgba(255, 255, 255, 0.90);
  font-family: Inter;
  font-size: 13.845px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.491px; /* 133.558% */
    text-decoration: none;
    margin-bottom: 17px;
  }
  .footer {
    padding: 40px;
    background: var(--Emerald, #5B6240);
  }

  .footer-bottom {
    border-top: solid 1px #DDDDDD;
    display: flex;
    justify-content: space-between;
    color: white;
  }

  @media screen and (max-width:1082px) {

   

    .sucscribeletter__email--container {
    width: 100%;
    }
    .footer {
        padding: 40px 5rem;
      border-radius: 0px;
    }
    .footer__top {
      flex-direction: column;
      gap: 22px;
      padding-bottom: 0px;
    }

    .footer__header {
      margin: 0 0 24px;
    }

    .copyright__text {
    margin: 24px 0 0;
    }

    .footer__socials--container {
    margin-top: 24px;
    }
    
    .nav_links {
      flex-direction: column;
      gap: 20px;
    }

    .footer_column {
      border-bottom: solid 1px #DDDDDD;
    }
    
    
    
   

    .footer__header {
      font-size: 40px;
      max-width: none;
    }
  }


     @media screen and (max-width:749px) {
       .footer {
         padding: 40px 3.5rem;
       }
     }
    
{% endstylesheet %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "insta_link",
      "label": "Instagram Link"
    },
    {
      "type": "text",
      "id": "facebook_link",
      "label": "Facebook Link"
    },
    {
      "type": "text",
      "id": "tiktok_link",
      "label": "Tiktok Link"
    }
  ],
  "presets": [
    {
      "name": "Footer New"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Navigation column",
      "type": "navigation",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Navigation menu"
        }
      ]
    }
  ]
}
{% endschema %}

