{% schema %}
{
  "name": "Product page",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Product Page"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    .productpage__wrapper--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

      .productpage__figure {
        width: 45%;
        padding: 0;
        margin: 0;
      }

      .productpage__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .productpage__price--container {
        width: 45%;
      }

      #product__page {
        margin-top: 45px;
      }

      .productpage__title {
        color: rgb(34, 32, 47);
        font-family: Glorify;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 98.5%;
        margin-bottom: 4px;
        max-width: 400px;
      }

      .productpage__buybuttons--container {
        margin-top: 14px;
      }

      #product__page .custombutton{
      display: flex;
      justify-content: center;
      align-content: center;
      color: white;
      text-align: center;
      font-family: Glorify;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 98.5%;
      background-color: #036638;
      border-radius: 4px;
      border: none;
      padding: 18px 0;
      cursor: pointer;
      width: 350px;
      }

      .tax__included{
        font-size: 10px;
        color: #036638;
      }

      .productpage__description--container {
        width: 40%;
      }

      .productpage__figure2 {
        width: 45%;
        height: auto;
        padding: 0;
        margin: 0;
      }

      .productpage__figure2bundle {
        width: 100%;
        height: 220px;
        padding: 0;
        margin: 0;
      }

      .productpage__wrapper--bottom{
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
       align-items: flex-start;
      }

    .custom-next-button, .custom-prev-button  {
        width: 55px;
        height: 55px;
        border-radius: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
      }

      .custom-prev-button {
          background-color: #F7F5E3;
        color: #036638;
      }

      .custom-next-button {
        background-color: #21B24F;
        color: white;
      }

     #product__page h3 {
      color: var(--Kale, #036638);
      font-family: Open Sans;
      font-size: 44.87px;
      font-style: normal;
      font-weight: 300;
      line-height: 98.5%;
      margin-bottom: 4px;
       margin-top: 0px;
      }

    .swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
  }

      #product__page p{
        margin-bottom: 2px;
        padding: 0;
        color: var(--Kale, #036638);
      font-family: Open Sans;
      }

      .bundle__img--container {
        width: 45%;
        min-width: 0;
        min-height: 0;
      }

      .bundleimg__title {
        color: var(--Kale, #036638);
      font-family: JeanLuc;
      font-size: 44.87px;
      font-style: normal;
      font-weight: 300;
      line-height: 98.5%;
      margin-bottom: 16px;
      margin-top: 0px;
      }

    .swiperbundle {
      width: 100%;
    }



    .mySwiperBundleMenu {
      margin-top: 14px;
    }
  
      @media screen and (max-width: 815px) {
        .productpage__wrapper--top {
          flex-direction: column;
        }

        .productpage__wrapper--bottom {
          flex-direction: column;
        }

        .bundle__img--container {
         width: 100%; 
        }

        .productpage__figure {
          width: 100%;
        }

        .productpage__figure2bundle {
          height: auto;
        }
        .productpage__price--container {
          width: 100%;
        }

        .productpage__title {
            max-width: none;
          }

        .productpage__figure2 {
              display: none;
          }

            .productpage__description--container {
          width: 100%;
        }

         #product__page p{
          margin: 0;
           padding: 0;
        }

        .productpage__wrapper--bottom {
          margin-top: 48px;
          }
      }
{% endstylesheet %}

{% javascript %}
  var mySwiperBundleMenu = new Swiper(".mySwiperBundleMenu", {
     slidesPerView: 3,
       spaceBetween: 8,
        loop: true,
     autoplay: {
       delay: 5000, // 5 seconds
     }
   });
{% endjavascript %}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>

{%- assign product_form_id = 'product-form-' | append: section.id -%}

<section id="product__page">
  <div class="page-width">
    <div class="productpage__wrapper--top">
      <figure class="productpage__figure">
        <img class="productpage__img" src="{{ product.featured_image | img_url: 'original' }}">
      </figure>
      <div class="productpage__price--container">
        <h1 class="productpage__title">{{ product.title }}</h1>
        <p class="tax__included">Tax included</p>
        <div class="productpage__buybuttons--container">
          {%- render 'buy-buttons',
            block: block,
            product: product,
            product_form_id: product_form_id,
            section_id: section.id
          -%}
        </div>
      </div>
    </div>
    <div class="productpage__wrapper--bottom">
      <div class="productpage__description--container">
        {{ product.description }}
      </div>
      {% if product.metafields.custom.isbundle %}
        <div class="bundle__img--container">
              <h3 class="bundleimg__title">Whats Included!</h3>
          <div class="swiper mySwiperBundleMenu">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                {% if forloop.first %}
                  <!-- Skip the first image -->
                  {% continue %}
                {% endif %}
                <div class="swiper-slide" style="display: flex;
                    justify-content: center;">
                <figure class="productpage__figure2bundle">
                  <img class="productpage__img" src="{{ image | img_url: 'original' }}">
                </figure>
                </div>
                
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <figure class="productpage__figure2">
          <img class="productpage__img" src="{{ product.images[1] | img_url: 'original' }}">
        </figure>
      {% endif %}
    </div>
  </div>
</section>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- if section.settings.image_zoom == 'hover' -%}
  <script id="EnableZoomOnHover-featured" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
{%- endif %}
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% if product.media.size > 0 %}
  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{% endif %}
