{% schema %}
{
  "name": "Product page",
  "settings": [

  ],
  "presets": [
    {
      "name": "Product Page"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    .productpage__wrapper--top {
      display: flex;
      justify-content: space-between;
    }

      .productpage__figure {
        width: 45%;
        padding: 0;
        margin: 0;
      }

      .productpage__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .productpage__price--container {
        width: 45%;
      }

      #product__page {
        margin-top: 45px;
      }

      .productpage__title {
        color: rgb(34, 32, 47);
        font-family: Glorify;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 98.5%;
        margin-bottom: 24px;
      }

      .productpage__buybuttons--container {
        margin-top: 14px;
      }

      #product__page .custombutton{
      display: flex;
      justify-content: center;
      align-content: center;
      color: white;
      text-align: center;
      font-family: Glorify;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 98.5%;
      background-color: #036638;
      border-radius: 4px;
      border: none;
      padding: 18px 0;
      cursor: pointer;
      width: 350px;
      }

      .tax__included{
        font-size: 10px;
        color: #036638;
      }

      .productpage__description--container {
        width: 40%;
      }

      .productpage__figure2 {
        width: 45%;
        height: auto;
        padding: 0;
        margin: 0;
      }

      .productpage__figure2bundle {
        width: 100%;
        height: 220px;
        padding: 0;
        margin: 0;
      }

      .productpage__wrapper--bottom{
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
       align-items: flex-start;
      }

    .custom-next-button, .custom-prev-button  {
        width: 55px;
        height: 55px;
        border-radius: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
      }

      .custom-prev-button {
          background-color: #F7F5E3;
        color: #036638;
      }

      .custom-next-button {
        background-color: #21B24F;
        color: white;
      }

  

     #product__page h3 {
      color: var(--Kale, #036638);
      font-family: Open Sans;
      font-size: 44.87px;
      font-style: normal;
      font-weight: 300;
      line-height: 98.5%;
      margin-bottom: 4px;
       margin-top: 0px;
      }

    .swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
  }

      #product__page p{
        margin-bottom: 2px;
        padding: 0;
        color: var(--Kale, #036638);
      font-family: Open Sans;
      }

      .bundle__img--container {
        width: 45%;
        min-width: 0;
        min-height: 0;
      }

      .bundleimg__title {
        color: var(--Kale, #036638);
      font-family: JeanLuc;
      font-size: 44.87px;
      font-style: normal;
      font-weight: 300;
      line-height: 98.5%;
      margin-bottom: 16px;
      margin-top: 0px;
      }

    .swiperbundle {
      width: 100%;
    }

.product__variant--selector {
  flex-direction: column;
}

  .product__variant {
    
  }

    .mySwiperBundleMenu {
      margin-top: 14px;
    }

      @media screen and (max-width: 815px) {
        .productpage__wrapper--top {
          flex-direction: column;
        }

        .productpage__wrapper--bottom {
          flex-direction: column;
        }

        .bundle__img--container {
         width: 100%;
        }

        .productpage__figure {
          width: 100%;
        }

        .productpage__figure2bundle {
          height: auto;
        }
        .productpage__price--container {
          width: 100%;
        }

        .productpage__title {
            max-width: none;
          }

        .productpage__figure2 {
              display: none;
          }

            .productpage__description--container {
          width: 100%;
        }

         #product__page p{
          margin: 0;
           padding: 0;
        }

        .productpage__wrapper--bottom {
          margin-top: 48px;
          }
      }
{% endstylesheet %}

{% javascript %}
  var mySwiperBundleMenu = new Swiper(".mySwiperBundleMenu", {
     slidesPerView: 3,
       spaceBetween: 8,
        loop: true,
     autoplay: {
       delay: 5000, // 5 seconds
     }
   });


   document.addEventListener('DOMContentLoaded', function () {
    const colorSwatches = document.querySelectorAll('.color-swatch');
    const forms = document.querySelectorAll('.shopify-product-form');

    forms.forEach(function (form) {
      // Create a hidden input field for each form
      const hiddenVariantInput = document.createElement('input');
      hiddenVariantInput.type = 'hidden';
      hiddenVariantInput.name = 'id';
      form.appendChild(hiddenVariantInput);

  

      form.querySelectorAll('.color-swatch').forEach(function (swatch) {
        const productContainer = swatch.closest('.productpage__wrapper--top');
        const priceDisplay = productContainer.querySelector('.product__price');
        const originalDisplay = productContainer.querySelector('.product__price--compare');

        swatch.addEventListener('click', function () {
           const variantImageUrl = swatch.getAttribute('data-variant-image-url');
          const productImage = swatch.closest('.productpage__wrapper--top').querySelector('.productpage__img');
         if (productImage && variantImageUrl) {
    // Fade out effect
    productImage.style.opacity = '0';
    setTimeout(function() {
      // Change image source
      productImage.src = variantImageUrl;
      // Fade in effect
      productImage.style.opacity = '1';
    }, 250); // This timeout duration should match the CSS transition duration
  }
          const variantId = swatch.getAttribute('value');

          hiddenVariantInput.value = variantId; // Update the hidden input with the selected variant ID

          const newPrice = swatch.getAttribute('data-price');
          const originalPrice = swatch.getAttribute('original-price');

          if (newPrice) {
            priceDisplay.textContent = 'from ' + newPrice;
          }

          if (originalPrice) {
            originalDisplay.textContent = originalPrice;
          }

          productContainer.querySelectorAll('.color-swatch').forEach((s) => s.classList.remove('selected'));
          swatch.classList.add('selected');
        });
      });

      // Set the first variant as the default selected for each product
      const firstSwatch = form.querySelector('.color-swatch');
      if (firstSwatch) {
        firstSwatch.click();
      }
    });
  });
{% endjavascript %}

<section id="product__page">
  <div class="page-width">
    <div class="productpage__wrapper--top">
      <figure class="productpage__figure">
        <img class="productpage__img" src="{{ product.featured_image | img_url: 'original' }}">
      </figure>
      <div class="productpage__price--container">
        <h1 class="productpage__title">{{ product.title }}</h1>
        <ajax-cart-product-form>
          {% form 'product', product, novalidate: 'novalidate' %}
            {% assign current_variant = product.selected_or_first_available_variant %}
            <div
              class="dropdown__menu"
              {% if product.variants.size == 1
                and product.variants.first.title == 'Default Title'
              %}
                style="display: none;"
              {% endif %}
            >
              <div name="id" id="variant-dropdown-{{ product.id }}" class="variant__selector product__variant--selector">
                {% for variant in product.variants %}
                  <div
                    class="color-swatch product__variant"
                    {% if variant.image %}
                      data-variant-image-url="{{ variant.image.src | img_url: 'master' }}"
                    {% else %}
                      data-variant-image-url="{{ product.featured_image | image_url }}"
                    {% endif %}

                    value="{{ variant.id }}"
                    original-price="{{ variant.compare_at_price | money }}"
                    data-price="{{ variant.price | money }}"
                    {% if variant == current_variant %}
                      selected="selected"
                    {% endif %}
                  >
                  {% if variant.image %}
                    <div class="variant__img--container"> 
                      <img class="variant__img" src='{{ variant.image.src | img_url: 'master' }}' />
                    </div>
                    {% else %}
                    <div class="variant__img--colour" style="background-color: {{ variant.metafields.custom.variantcolour }};"> </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="box__bottom--price">
              <div class="box__price--container">
                {% if product.compare_at_price != null %}
                  <span class="product__price product__price--sale">
                    {{- product.price | money }}
                  </span>
                  <span class="product__price--compare product__price--original">
                    {{- product.compare_at_price | money }}
                  </span>
                {% else %}
                  <span class="product__price"></span>
                {% endif %}
              </div>
              <div class="error__container" data-ajax-cart-errors="form"></div>
            </div>
            <input style="display: none;" type="number" name="quantity" value="1" min="1">
            <button
              class="buy__button {% if current_variant.inventory_quantity == 0 %}out-of-stock{% endif %}"
              type="submit"
              name="add"
              {% if current_variant.inventory_quantity <= 0 %}
                disabled
              {% endif %}
            >
              {% if current_variant.inventory_quantity > 0 %}
                Add to Basket
              {% else %}
                Out of Stock
              {% endif %}
            </button>
          {% endform %}
        </ajax-cart-product-form>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var addToCartButtons = document.querySelectorAll('.buy__button');

    addToCartButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        // Add a class to indicate processing
        button.classList.add('processing');
        button.textContent = 'Adding...';

        // Simulate an AJAX call with setTimeout
        setTimeout(function () {
          // Change the text to 'Added!' once the AJAX call is complete
          button.textContent = 'Added!';
          button.classList.remove('processing');
          button.classList.add('added');
          // Change the text back to 'Add to order' after some time
          setTimeout(function () {
            button.textContent = 'Add to order';
            button.classList.remove('added');
          }, 2000);
        }, 1000);
      });
    });
  });
</script>


