{% schema %}
{
  "name": "menubox-carousel",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Choose the product"
        },
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel New",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .box__menu--wrapper {
    margin-bottom: 60px;
  }

  .boxmenu__title {
    color: #242424;
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.319px; /* 125.613% */
    letter-spacing: -1.04px;
  }

  .last__word {
    color: #d4af37;
  }

  .last__word {
    position: relative;
  }

  .title__line {
    position: absolute;
    left: 50%;
    transform: translate(40%);
    margin-top: 10px;
  }

  .boxmenu__container {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .box__img--figure {
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    padding: 18.86px;
    border-radius: 5.546px;
    background: #f3eee9;
  }

  .box__img {
    height: 100%;
    width: 100%;
    border-radius: 5.546px;
    object-fit: cover;
     transition: opacity 0.1s ease; /* Transition effect */
  opacity: 0; /* Initial opacity set to 0 */
  }

  .box__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 13.68px;
    position: relative;
  }

  .product__title {
    color: var(--Text, #242424);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 13.5px;
  }



  .product__price {
    color: var(--Text, #242424);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .box__bottom--price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
  }

  .dropdown__option {
    font-family: Inter;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .carousel-container {
    position: relative;
    margin: 58px auto 0;
  }
  .carousel-slide {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth sliding */
    justify-content: space-evenly;
  }
  .carousel-box {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  .carousel-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
  }
  .carousel-dots {
    display: flex;
    justify-content: center;
  }
  .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 86, 55, 0.4);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .dot.active {
    background-color: #005637;
  }

  .row {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }

  .menubutton {
    border-radius: 20px;
    background: var(--Primary-1, #d4af37);
    display: flex;
    width: 318px;
    height: 68px;
    padding: 16.281px 54.783px;
    justify-content: center;
    align-items: center;
    color: var(--Primary-2, #005637);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.85px; /* 124.251% */
    text-decoration: none;
  }

  .menubutton__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
  }

  .arrowsbutton {
    cursor: pointer;
  }

  .container {
    padding: 26px;
  }

  .box__price--container {
    display: flex;
    gap: 7px;
  }

  .product__price--original {
    color: var(--Sunrise, #f26820);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
  }

  .product__price--sale {
    color: var(--Text, #242424);
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .carousel-button {
    padding-right: 40px;
  }

  .rightbutton {
    padding-right: 0px;
    padding-left: 40px;
  }

  .mainproduct__img--a {
    cursor: pointer;
  }

  .product__tag {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 1.946px 11.675px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 14.594px 0px 0px;
    border: 6.5px solid #fff;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.18px; /* 134.832% */
    text-transform: uppercase;
    left: 2px;
  }

  .menubox__title {
    margin-bottom: 34px;
  }

  .swiper-pagination-bullet {
    background: #005637 !important; /* Replace 'your-color' with your desired color */
    opacity: 0.7; /* You can adjust the opacity if needed */
  }
  /* Change the active (current) pagination bullet color */
  .swiper-pagination-bullet-active {
    background: #005637 !important; /* Replace 'your-active-color' with your desired color for the active bullet */
  }

  .navigation__arrows--container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 34px;
    align-items: center;
    padding: 0px 24px;
  }

  .buy__button {
    display: flex;
    width: 100%;
    padding: 15.815px 29.37px;
    justify-content: center;
    align-items: center;
    gap: 45.184px;
    border-radius: 5.648px;
    background: #5b6240;
    color: var(--Cream, #f3eee9);
    font-family: Glorify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }

  .error__container {
    background-color: white;
    z-index: 4;
    position: fixed;
    width: 100%;
    transform: translateY(70px);
    max-width: 350px;
  }

  .out-of-stock {
    background: #e9eaeb;
    color: #69cba8;
    cursor: not-allowed;
  }

  .productcarousel__title {
    color: var(--Text, #242424);
    font-family: Glorify;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 9px;
  }

  .productcarousel__span {
    color: var(--Text, #242424);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .color-swatch {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50px;
  }

  .box__bottom--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .color-swatch.selected {
    border: 2px solid #000; /* Example style for selected swatch */
  }

  .variant__selector {
    display: flex;
    gap: 2.85px;
    justify-content: center;
    margin-bottom: 6.87px;
  }

  .buy__buttonscontainerCarousel {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  @media screen and (max-width: 1050px) {
    #boxmenu__wrapper {
      margin-top: 28px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 550px) {
    .box__img--figure {
      height: 200px;
    }

    .product__title {
      color: var(--Text, #242424);
      text-align: center;
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .buy__button {
      padding: 18px 10px;
      color: var(--Cream, #f3eee9);
      font-family: Glorify;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    #boxmenu__wrapper {
      margin-top: 28px;
      margin-bottom: 20px;
    }
  }
{% endstylesheet %}

{% javascript %}
  var mySwiper = new Swiper('.mySwiper', {
    watchSlidesProgress: true,
    slidesPerView: 2,
    spaceBetween: 16,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
    },
    breakpoints: {
      920: {
        slidesPerView: 3,
        spaceBetween: 29,
      },
      1267: {
        slidesPerView: 4,
        spaceBetween: 29,
      },
    },
  });

  document.addEventListener('DOMContentLoaded', function () {
    const colorSwatches = document.querySelectorAll('.color-swatch');
    const forms = document.querySelectorAll('.shopify-product-form');

    forms.forEach(function (form) {
      // Create a hidden input field for each form
      const hiddenVariantInput = document.createElement('input');
      hiddenVariantInput.type = 'hidden';
      hiddenVariantInput.name = 'id';
      form.appendChild(hiddenVariantInput);

      form.querySelectorAll('.color-swatch').forEach(function (swatch) {
        const productContainer = swatch.closest('.carousel-box');
        const priceDisplay = productContainer.querySelector('.product__price');
        const originalDisplay = productContainer.querySelector('.product__price--compare');

        swatch.addEventListener('click', function () {
           const variantImageUrl = swatch.getAttribute('data-variant-image-url');
          const productImage = swatch.closest('.carousel-box').querySelector('.box__img');
         if (productImage && variantImageUrl) {
    // Fade out effect
    productImage.style.opacity = '0';
    setTimeout(function() {
      // Change image source
      productImage.src = variantImageUrl;
      // Fade in effect
      productImage.style.opacity = '1';
    }, 100); // This timeout duration should match the CSS transition duration
  }
          const variantId = swatch.getAttribute('value');

          hiddenVariantInput.value = variantId; // Update the hidden input with the selected variant ID

          const newPrice = swatch.getAttribute('data-price');
          const originalPrice = swatch.getAttribute('original-price');

          if (newPrice) {
            priceDisplay.textContent = 'from ' + newPrice;
          }

          if (originalPrice) {
            originalDisplay.textContent = originalPrice;
          }

          productContainer.querySelectorAll('.color-swatch').forEach((s) => s.classList.remove('selected'));
          swatch.classList.add('selected');
        });
      });

      // Set the first variant as the default selected for each product
      const firstSwatch = form.querySelector('.color-swatch');
      if (firstSwatch) {
        firstSwatch.click();
      }
    });
  });
{% endjavascript %}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>

<section id="boxmenu__wrapper">
  <div class="page-width">
    <div class="menubox__title">
      <h2 class="productcarousel__title">Best Sellers</h2>
      <p class="productcarousel__span">Shop the world’s most trusted beauty gadgetss.</p>
    </div>
    <div class="wrapper__products">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'product' %}
              <div class="swiper-slide" style="display:flex; justify-content: center;">
                <div class="carousel-box">
                  <div class="box">
                    <a class="mainproduct__img--a" href="{{  block.settings.product.url }}">
                      <figure class="box__img--figure">
                        <img
                          src="{{ block.settings.product.featured_image | image_url }}"
                          class="box__img"
                          alt="{{ block.settings.product.title }}"
                          width="265.542px"
                          height="262.292px"
                        >
                        {% if block.settings.product.metafields.custom.product_tagline != null %}
                          <div
                            class="product__tag"
                            style="background-color:{{ block.settings.product.metafields.custom.border_colour }};"
                          >
                            <span>{{ block.settings.product.metafields.custom.product_tagline }}</span>
                          </div>
                        {% endif %}
                      </figure>
                    </a>
                    <div>
                      <div
                        class="box__bottom"
                      >
                        <div class="box__bottom--container">
                          <ajax-cart-product-form>
                            {% form 'product', block.settings.product, novalidate: 'novalidate' %}
                              {% assign current_variant = block.settings.product.selected_or_first_available_variant %}
                              <h3 class="product__title">{{ block.settings.product.title }}</h3>

                              <div
                                class="dropdown__menu"
                                {% if block.settings.product.variants.size == 1
                                  and block.settings.product.variants.first.title == 'Default Title'
                                %}
                                  style="display: none;"
                                {% endif %}
                              >
                                <div name="id" id="variant-dropdown-{{ block.id }}" class="variant__selector">
                                  {% for variant in block.settings.product.variants %}
                                    <div
                                      class="color-swatch"
                                      {% if variant.image %}
                                        style="background-image: url('{{ variant.image.src | img_url: 'master' }}'); background-size: cover;"
                                      {% else %}
                                        style="background-color: {{ variant.metafields.custom.variantcolour }};"
                                      {% endif %}
                                      {% if variant.image %}
                                        data-variant-image-url="{{ variant.image.src | img_url: 'master' }}"
                                      {% else %}
                                        data-variant-image-url="{{ block.settings.product.featured_image | image_url }}"
                                      {% endif %}

                                      value="{{ variant.id }}"
                                      original-price="{{ variant.compare_at_price | money }}"
                                      data-price="{{ variant.price | money }}"
                                      {% if variant == current_variant %}
                                        selected="selected"
                                      {% endif %}
                                    ></div>
                                  {% endfor %}
                                </div>
                              </div>

                              <div class="box__bottom--price">
                                <div class="box__price--container">
                                  {% if block.settings.product.compare_at_price != null %}
                                    <span class="product__price product__price--sale">
                                      {{- block.settings.product.price | money }}
                                    </span>
                                    <span class="product__price--compare product__price--original">
                                      {{- block.settings.product.compare_at_price | money }}
                                    </span>
                                  {% else %}
                                    <span class="product__price"></span>
                                  {% endif %}
                                </div>
                                <div class="error__container" data-ajax-cart-errors="form"></div>
                              </div>
                              <div class="buy__buttonscontainerCarousel">
                                <input style="display: none;" type="number" name="quantity" value="1" min="1">
                                <button
                                  class="buy__button {% if current_variant.inventory_quantity == 0 %}out-of-stock{% endif %}"
                                  type="submit"
                                  name="add"
                                  {% if current_variant.inventory_quantity <= 0 %}
                                    disabled
                                  {% endif %}
                                >
                                  {% if current_variant.inventory_quantity > 0 %}
                                    Add to Basket
                                  {% else %}
                                    Out of Stock
                                  {% endif %}
                                </button>
                              </div>
                            {% endform %}
                          </ajax-cart-product-form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>

      <!--
        <div class="navigation__arrows--container">
          <div
            style="position: inherit; display: block; color: #005637; --swiper-navigation-size: 25px;"
            class="swiper-button-next"
          ></div>
          <div style="position: inherit; " class="swiper-pagination"></div>
          <div
            style="position: inherit; display: block; color: #005637; --swiper-navigation-size: 25px;"
            class="swiper-button-prev"
          ></div>
        </div>
      -->
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var addToCartButtons = document.querySelectorAll('.buy__button');

    addToCartButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        // Add a class to indicate processing
        button.classList.add('processing');
        button.textContent = 'Adding...';

        // Simulate an AJAX call with setTimeout
        setTimeout(function () {
          // Change the text to 'Added!' once the AJAX call is complete
          button.textContent = 'Added!';
          button.classList.remove('processing');
          button.classList.add('added');
          // Change the text back to 'Add to order' after some time
          setTimeout(function () {
            button.textContent = 'Add to order';
            button.classList.remove('added');
          }, 2000);
        }, 1000);
      });
    });
  });
</script>

<script>
  $(document).ready(function() {
    // Variable to store the maximum height
    var maxheight = 0;

    // Iterate over each element with the class .box__bottom--container
    $('.box__bottom').each(function() {
      // Update maxheight with the height of the current element if it's larger
      maxheight = Math.max(maxheight, $(this).height());
    });

    // Set the height of all .box__bottom--container elements to maxheight
  $('.box__bottom').height(maxheight + 30);
  });
</script>
