{% schema %}
{
  "name": "testimonials",
  "settings": [],
  "blocks": [
    {
      "type": "testimonial",
      "name": "testimonial",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Choose the product"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Testimonial Text"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Testimonial Name"
        },
        {
          "type": "text",
          "id": "industry",
          "label": "Testimonial Industry"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Testimonial Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "testimonials",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    #testimonials {
      margin: 80px 0px;
    }

    .testimonials__header {
      color: var(--Text, #242424);
      font-family: Glorify;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 17px;
    }

    .testimonial {
      position: relative;
      border-radius: 4.806px;
    background: #F3EEE9;
    }

    .star__container {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-bottom: 20.18px;
    }

    .testimonial__para {
      max-width: 311.414px;
      color: var(--Text, #242424);
      font-family: Glorify;
      font-size: 28.835px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 35.56px;
    }

    .testimonial__name--wrapper {
      display: flex;
      align-items: center;
      gap: 7.64px;
      margin-bottom: 44.21px;
    }

    .testimonial__figure {
        width: 35px;
    height: 35px;
    }

    .testimonial__img {
      width: 100%;
      height: 100%;
      fill: var(--Emerald, #5b6240);
      border-radius: 50%;
      object-fit: cover;
    }

    .testimonial__name--container {
      display: flex;
      flex-direction: column;
      gap: 1.2px;
    }

    .testimonial__name {
      color: var(--Text, #242424);
      font-family: Open Sans;
      font-size: 12.734px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .testimonial__industry {
      color: var(--Text, #242424);
      font-family: Open Sans;
      font-size: 12.734px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .testimonial__blob {
      position: absolute;
      bottom: 0;
      z-index: 0;
      width: 100%;
    }

  .testimonial__container {
      position: relative;
    z-index: 1;
  padding: 34.602px 33.64px;
  }

  .testimonial__productname--container {
    display: flex;
    align-items: center;
  }

    .testimonial__product {
      display: flex;
      justify-content: space-between;
      padding: 24.029px 28.835px;
      background-color: white;
      align-items: center;
      border-radius: 5px;
    }

    .test__product--figure{
      width: 55px;
      height: 55px;
    }

  .testimonial__product--link {
    border-radius: 50%;
    padding: 14.417px;
  border: 0.769px solid var(--Emerald, #5B6240);
  }

    .test__product--img {
      width: 100%;
      height: 100%:
      object-fit: cover;
    }

    .testimonial__product--container{
      display: flex;
      flex-direction: column;
      gap: 1px;
    }

  .testimonial__product--name {
    max-width: 125.911px;
    color: var(--Text, #242424);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .testimonial__product--price {
    max-width: 125.911px;
    color: var(--Text, #242424);
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .product__link {
    display: flex;
  }
  @media screen and (max-width: 882px) { 
    #testimonials {
      margin: 20px 0px;
      margin-top: 40px;
    }
  }
{% endstylesheet %}

{% javascript %}
  var mySwiperTestiominals = new Swiper('.mySwiperTestimonials', {
    watchSlidesProgress: true,
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-nextTestimonials',
      prevEl: '.swiper-button-prevTestimonails',
    },
    pagination: {
      el: '.swiper-pagination',
    },
    breakpoints: {
      920: {
        slidesPerView: 2,
        spaceBetween: 5.77,
      },
      1267: {
        slidesPerView: 3,
        spaceBetween: 5.77,
      },
    },
  });
{% endjavascript %}

<section id="testimonials">
  <div class="page-width">
    <h2 class="testimonials__header">Testimonials</h2>
    <div class="testimonial__wrapper">
      <div class="swiper mySwiperTestimonials">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="testimonial">
                <div class="testimonial__container">
                  <div class="star__container">
                    {% for i in (1..5) %}
                      {% render 'star' %}
                    {% endfor %}
                  </div>
                  <p class="testimonial__para">{{ block.settings.text }}</p>
                  <div class="testimonial__name--wrapper">
                    <figure class="testimonial__figure">
                      <img class="testimonial__img" src="{{ block.settings.image | img_url: 'master' }}" alt="">
                    </figure>
                    <div class="testimonial__name--container">
                      <span class="testimonial__name">{{ block.settings.name }}</span>
                      <span class="testimonial__industry">{{ block.settings.industry }}</span>
                    </div>
                  </div>
                  <div class="testimonial__product">
                    <div class="testimonial__productname--container">
                    <figure class="test__product--figure">
                      <img
                        class="test__product--img"
                        src="{{ block.settings.product.featured_image | image_url }}"
                        alt=""
                      >
                    </figure>
                    <div class="testimonial__product--container">
                      <span class="testimonial__product--name">{{ block.settings.product.title }} </span>
                      <span class="testimonial__product--price">{{ block.settings.product.price | money }} </span>
                    </div>
                    </div>
                    <a class="product__link" href="{{ block.settings.product.url }}">
                       
                    <svg
                      class="testimonial__product--link"
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="9"
                      viewBox="0 0 8 9"
                      fill="none"
                    >
                      <path d="M0.86861 8.1374C0.731725 8.30503 0.756644 8.55188 0.924267 8.68876C1.09189 8.82565 1.33874 8.80073 1.47563 8.63311L0.86861 8.1374ZM7.3804 1.22092C7.35866 1.0056 7.16649 0.848671 6.95117 0.870407L3.44233 1.22461C3.22701 1.24634 3.07008 1.43851 3.09182 1.65383C3.11355 1.86915 3.30572 2.02608 3.52104 2.00435L6.64001 1.6895L6.95485 4.80847C6.97659 5.02379 7.16876 5.18072 7.38408 5.15899C7.5994 5.13725 7.75633 4.94508 7.7346 4.72976L7.3804 1.22092ZM1.47563 8.63311L7.29404 1.50813L6.68702 1.01243L0.86861 8.1374L1.47563 8.63311Z" fill="#5B6240"/>
                    </svg>
                    </a>
                  </div>
                </div>
                  <img
                    class="testimonial__blob"
                    src="https://cdn.shopify.com/s/files/1/0550/8261/4884/files/blob.svg?v=1700704263">
                 />
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
